/* This is the front page where everyone first comes to the site*/
.frontpage
{
    display: flex;
    background-color: rgb(216, 51, 74);
    padding-top: 15px;
    padding-left: 15px;
}

.frontpage_logo
{
    justify-content: left;
    border: 3px solid black;
    margin-right: 50px;
}

.frontpage_welcome
{
    justify-content: right;
}

.frontpage_welcome button
{
    margin-left: 25%; 
    scale: 2;
}

/* This is the signin/login page */
.signin
{
    text-align:auto;
    font-family: cursive;
    background-color: rgb(216, 51, 74);
}

.SignUp
{
    text-align:center;
    font-family: cursive;
    background-color: rgb(216, 51, 74);
}

/* This is the main page where all the games and stuff will be */
