/* This is the front page where everyone first comes to the site*/
.frontpage
{
    background-color: rgb(55, 68, 68);
}

.frontpage_Welcome
{
    margin-left: 900px;
}

.frontpage img
{
    border: 3px solid black
}

.frontpage button
{
    scale: 5;
}

/* This is the signin/login page */
.signin
{
    margin-left: 500px;
    background-color: rgb(55, 68, 68);
}

/* This is the main page where all the games and stuff will be */